@{
    ViewData["Title"] = "Servicio Editado";
}

<h2>Servicio Editado</h2>
<p>El servicio ha sido editado correctamente.</p>

<a href="@Url.Action("MostrarServicios", "Administrador")">Volver a la lista de servicios</a>
