@{
    ViewData["Title"] = "Servicio Eliminado";
}

<h2>Servicio Eliminado</h2>
<p>El servicio ha sido eliminado correctamente.</p>

<a href="@Url.Action("MostrarServicios", "Administrador")">Volver a la lista de servicios</a>
